[2015-07-19 12:54] soareschen opened #1 "Organizing workflow"
I create this repo so that it is easier to discuss and plan for future SingaporeJS events. Things that covered will include:
- Meetup logistics planning - date, venue, food, sponsor, etc.
- Speakers lineup - have a list of candidate speakers to pick up for future meetups.
- Special events planning - NodeSchool, NodeBots, DevFest, etc.
- Community outreach - there are many meetup groups that approa

[2015-07-19 13:06] soareschen opened #2 "talk.js August Meetup"
Tasks:

- [x] Date: Tuesday 18th August
- [x] Venue: PayPal
- [x] Food sponsor: PayPal
- [x] Speakers
- [x] Announce at meetup.com
- [x] Announce at Facebook
- [x] Security guest list
- [x] Reminder on day of talk before noon.

Speakers:

- [x] Jacky Boen - The Imitation Game: Redux - 20 mins
- [x] Zell Liew - Gulp.js (first time speaker) - 10 mins
- [x] João Bentes (first time speaker) - 5 mins

[2015-07-19 13:16] soareschen opened #3 "Guidelines for first time speakers"
We need some policies for first time speakers to better control the quality of the talks. Here are some of my thoughts:
- First time speakers include people with first time experience speaker, and experienced speakers speaking for the first time in talk.js.
- For first time experience speakers, the time limit should be 5-10 minutes.
- Experienced speakers are given the usual time limit of 20 mins.

[2015-07-19 13:24] soareschen opened #4 "Meetup Venue"
We usually host talk.js meetup at Microsoft. But for the last few months we also hosted it at AWS and PayPal due to unavailability at Microsoft. Autodesk also offered to to host us, but we didn't go with it because it's at Block 71.

Moving forward, should we continue hosting it at Microsoft or should we rotate between few venues? Personally I like the new PayPal office better. The environment is

[2015-07-19 13:38] soareschen opened #5 "Presentation topics"
Let's brainstorm here on presentation topics that might be interesting to the audience.

## Topics that are not yet covered

These are topics that are not yet covered but might be interesting to the audience:

- Electron
- Flux
- Flow
- Service Worker
- Fetch API
- WebCrypto
- WebSpeech
- Browser Plugins
- Packaged Apps
- Browser Devtools
- WebAssembly
- Immutable.js

## Interesting topics that ha

[2015-07-19 13:54] soareschen opened #6 "NodeSchool Sept"
We have been talking about organizing NodeSchool for a long time, but I just didn't make it through. Let's organize a NodeSchool for next month, and one more in November for DevFest.Asia.

- [ ] Date: Saturday 29/8.
- [ ] Venue: IDA@Labs at NDC
- [ ] Food & beverages
- [ ] Pricing (paid or free?)
- [ ] Workshop Materials
- [ ] Mentors

Let us know if you know any other company that can sponsor the

[2015-07-19 14:05] soareschen opened #7 "DevFest.Asia"
@serrynaimo have shared with us details about organizing events under [DevFest.Asia](http://2015.devfest.asia/) between 7th - 21st of November.

Quoting [what is provided](https://jsconfasia.wufoo.com/forms/devfestasia-2015-list-my-event/) by DevFest.Asia to event organizers:

- Up to S$2500 to help your event budget from our sponsors
- Unified ticketing and ticket support handling
- You get 100%

[2015-07-20 01:17] notthetup commented on #6
Not sure how the interest would be, but I could mentor the one on WebAudio.

[2015-07-20 01:18] notthetup commented on #5
It's kinda early for WebAssembly no?? I haven't seen much demo-able stuff on their mailing list either.

For Electron, I nominate CheeAun.

What about WebComponents? It has been covered briefly, but we should have a more in-depth look?

I would personally also love to listen to talks about making Chrome/FF plugins/packaged apps.

Seb Deckers had a demo at KopiJS on WebSpeech API. That would be int

[2015-07-20 01:24] notthetup commented on #3
I like having time limits. But 5-10mins might surprise many people.

Also a lot of new speakers can't estimate how much time their talk will take. A timer would be helpful. http://sayan.ee/timer/

[2015-07-20 01:26] notthetup commented on #2
:+1: Looks great!

[2015-07-20 01:48] sayanee commented on #2
:+1: yep confirm it :smile:

[2015-07-20 01:51] sayanee commented on #5
Topics not covered are great list @soareschen :heart_eyes:

Could you include them in your introductory slides at each talk.js? And then ask around who has already played with it - they can give a tiny demo for 5 minutes to 20 minutes.

[2015-07-20 01:53] sayanee commented on #3
First time speaker should be lightning talks for 5 minutes and demo only. No pitches. We can ask if they need pre-talk feedback and we can give them support for this.

[2015-07-20 01:53] sayanee commented on #1
really appreciate this @soareschen :star2:

thanks for wanting to make awesome talk.js sessions!

[2015-07-20 02:00] sayanee commented on #6
:+1: LGTM - yes, venue is the first step

[2015-07-20 02:21] sayanee commented on #4
I'm fine with rotating venues in the central area. Blk71 is cool too - can reach out to the many startup developers located there.

[2015-07-20 02:23] sayanee commented on #5
3 more ways of getting topics / speakers:
- keep a lookout in social media (facebook / twitter) for projects and approach them right away
- approach the creators of [popular local, recently updated javascript repositories](https://webuild.sg/api/v1/repos/javascript)
- spot beginners at nodeschool / nodeboats / peripheral JS related workshops to give a 5 minute sharing session on what happened duri

[2015-07-20 03:36] serrynaimo commented on #7
Cool :) Just remember it's "up to 2500". The better you can outline what you'll use it for the easier it is for us to assign it.

[2015-07-20 08:45] valentine commented on #5
FTFY. :wink:

How about functional JavaScript? :stuck_out_tongue_closed_eyes: I think @soareschen would be awesome in giving an intro and his thoughts on it. Hehehe.

[2015-07-20 10:22] soareschen commented on #3
@notthetup: what do you mean by surprise people?

I think for the next meetup can try out the format: 1 x 20 mins and 2~3 x 5~10 mins talks. Agree with @sayanee on keeping fresh beginners at 5 minutes. Special guests and exceptions can be made on the specific meetup thread.

[2015-07-20 10:28] soareschen commented on #5
Great suggestions. Added the suggested topics to the list.

[2015-07-20 10:28] soareschen commented on #5
Great suggestions. Added the suggested topics to the list.

[2015-07-20 10:51] sayanee commented on #5
i forgot another great way to get speakers - welcome any visiting developers in town and invite them to give a talk or share about their hometown developer community, events, etc.

We usually try to [re-tweet them with the webuildsg account](https://twitter.com/webuildsg) - so keep a lookout :smile:

[2015-07-20 11:19] notthetup commented on #3
Surprise in the sense, they might think it's too little. They might be used to longer slots. Just something to keep in mind.

[2015-07-20 18:07] valentine commented on #6
@miccheng, @zgiber and myself brainstormed a whole list of venues on the train home today:

**Central**
- Microsoft
- *SCAPE
- The Hub
- Working Capitol
- The Co
- SMU

**West**
- Singapore Polytechnic
- BASH
- Plug-In@Blk71

The big question is: are we certain that we'll have ~50 attendees? It sounds like a chicken-and-egg type of situation. :confused:

[2015-07-20 20:57] timoxley commented on #6
LGTM. 29th works well for me as I won't be back in Singapore until late August.

[2015-07-20 20:58] timoxley commented on #3
Yeah we really need to enforce time limits. I always forget to start a timer.

[2015-07-20 20:59] timoxley commented on #3
Also, these shouldn't be policies per se, but more guidelines.

[2015-07-21 01:39] notthetup commented on #6
I haven't been to BASH, but if it can host that number of people, it's pretty convenient (2mins from MRT). Also, the couple of new malls nearby mean there are lunch options.

PlugIn is good too. It's slightly further, but has 2-3 rooms (not sure if they're still available for use), which could be used for different sessions.

[2015-07-21 10:52] soareschen commented on #6
Microsoft said they can host us in weekend. :D

[2015-07-21 11:36] valentine commented on #6
🎉✨

[2015-07-22 10:35] soareschen commented on #6
Ouch they say cannot after discussion. Still have to look for other venue. I will try to ask Autodesk.

[2015-07-22 10:36] soareschen commented on #2
Microsoft can't host it at that day. Shall we host it at PayPal?

[2015-07-22 11:49] notthetup commented on #2
OK

[2015-07-23 01:33] sayanee commented on #2
:+1: yeps PayPal

[2015-07-28 07:26] soareschen opened #10 "WebAudio Hack Day"
@notthetup suggest we do a [WebAudio Hack Day](http://janmonschke.com/blog/2014/10/03/web-audio-hackday-2014.html) after the NodeSchool event during DevFest (#7). So let's manage the planning here. Will probably also include WebGL as well.

Thomas want us to [submit the application](https://jsconfasia.wufoo.com/forms/devfestasia-2015-list-my-event/) first so that he can plan for DevFest. @notthetu

[2015-07-28 07:30] soareschen commented on #6
I have booked with IDA@Labs use the NDC 3rd floor for NodeSchool on 29/8. Next up need to plan workshop materials and pricing.

[2015-07-28 07:38] soareschen commented on #2
Have confirmed booking with PayPal. Next will inform and confirm the speakers. Can anyone put here the names of the suggested speakers for lightning talk again?

[2015-07-28 09:09] soareschen commented on #7
Let's plan out the timing for DevFest first:
- talk.js - Tuesday 10/11
- NodeSchool - Saturday 14/11
- WebAudio Hack Day - Sunday 15/11

How does that sound?

[2015-07-28 09:10] serrynaimo commented on #7
FYI: We currently plan an important meetup about "working in sg" on the 14th in the afternoon.

[2015-07-28 09:43] sayanee commented on #2
possible lightning talk form the nodebots organisers on future nodebots - by pasindu and nathania

[2015-07-28 11:04] soareschen commented on #7
Ah alright. Then perhaps:
- talk.js - Tuesday 10/11
- NodeSchool - Sunday 15/11
- WebAudio Hack Day - Satrday 21

[2015-07-28 11:43] tjiahen commented on #10
Yup,  I can help up with the webgl part. what do I need to do?
On Jul 28, 2015 3:26 PM, "Soares Chen" notifications@github.com wrote:

[2015-07-28 15:12] sebdeckers commented on #7
- FEDS TL;DR - Monday 16/11

[2015-07-28 15:17] sebdeckers commented on #4
For FEDS TL;DR I intentionally rotate venues, though not limited to any given part of Singapore.

I simply require the host company to have front-end engineering at that office. Maybe host Talk.js meetups at companies that engage in JavaScript development and/or are hiring JavaScript engineers?

[2015-07-29 01:30] notthetup commented on #7
:+1: I will submit the proposal for WebAudio Hack Day today.

[2015-07-29 01:41] notthetup commented on #7
Submitted.

![screenshot 2015-07-29 09 41 28](https://cloud.githubusercontent.com/assets/553140/8948116/07516d9c-35d6-11e5-98fe-4c81571f6d1c.jpg)

[2015-07-29 01:48] notthetup commented on #10
@wizztjh So the original idea was a WebAudio Hack Day ala http://janmonschke.com/blog/2014/10/03/web-audio-hackday-2014.html

@timoxley suggested adding WebGL as well.

The benefit is larger interest (more participants) as well as a potential for more sponsors.

I should be able to get Sonoport to sponsor, but we need at least 2 more Sponsors if we want to make this event completely sponsor suppor

[2015-07-29 03:04] serrynaimo commented on #7
Sweet :) Will respond during early August when I have a more complete overview.

[2015-07-29 12:36] soareschen commented on #6
Change of plan. I might need to go back to Malaysia on 29/8. Is it ok to change it to Saturday 5/9?

[2015-07-29 13:30] sebdeckers commented on #7
Anyone know what that entails? @serrynaimo Where can I find this code of conduct?

[2015-07-29 13:40] serrynaimo commented on #7
http://jsconf.com/codeofconduct.html

[2015-07-29 13:41] tjiahen commented on #10
I think @timoxley is referring to [webgl-workshop](https://github.com/stackgl/webgl-workshop) ?

I will try to ask around.

[2015-07-29 13:49] tjiahen commented on #10
Have you guys found the venue?

What is the sponsorship amount?

[2015-07-29 14:18] sebdeckers commented on #7
Interesting.

I didn't know we were in [Malaysia](http://news.bbc.co.uk/1/hi/entertainment/8315829.stm)...

Even at meetups or only for JSConf/CSSConf?

What does "provide escorts" entail? I think "to feel safe" is totally subjective and could be used to justify anything. What is "your attendance" doing in this paragraph?

[2015-07-29 14:19] notthetup commented on #10
@wizztjh No venue yet. Sponsorship amount would depend on venue I guess. Let me check with Thomas how about venues then we'll have a ballpark figure.

[2015-07-29 15:20] serrynaimo commented on #7
The code of conduct is deliberatly broad. We want to avoid that any person coming to the devfest.asia events needs to feel insecure and that they behave in a respectful manner towards others. We have this coc since JSCamp in 2012 and point attendees, speakers and aponsors towards it. It is meant as a guide and point of reference for devfest event organizers to point to exclude instigators and trou

[2015-07-29 15:42] soareschen commented on #7
Submitted mine as well.

![screenshot from 2015-07-29 23 41 55](https://cloud.githubusercontent.com/assets/97665/8962116/7318d8d8-364b-11e5-9155-45a9f7ad3061.png)
![screenshot from 2015-07-29 23 41 38](https://cloud.githubusercontent.com/assets/97665/8962118/7504bca2-364b-11e5-8281-10699dd47030.png)

[2015-07-30 01:17] notthetup commented on #6
WeBuildSG doesn't have any events of 5/9.

[2015-07-30 02:02] tjiahen commented on #10
I am asking IDA labs for venue for next SGVRAR meetup. What is the date of the event? I can ask them to provide venue for this event at the same time. They provide event venue for free. It can accommodate around 40-50 people.

[2015-07-30 03:03] notthetup commented on #10
https://jsconfasia.wufoo.com/forms/devfestasia-2015-list-my-event/

[2015-08-12 16:14] soareschen opened #11 "Choose a different weekday for talk.js"
[Quoting](https://www.facebook.com/miccheng/posts/10153586865127229) @miccheng:

Second/Third Tuesday of the month is too popular for meetups. Let's vote for a better date for talk.js and keep it fixed for every month. Brainstorm dates please?

- First/Last Thursday of every month?

Taken by other meetups:

- Papers We Love - Last Monday of every month

[2015-08-13 01:28] notthetup commented on #11
Hackware is Last Wednesday of every Month.
FEDS is 3rd Monday

[2015-08-18 09:41] soareschen commented on #11
Let's try 3rd or 4th Thursday of every month.

[2015-08-18 16:42] soareschen commented on #2
Meetup ended successfully. Thanks everyone for the great work!

[2015-08-18 16:42] #2 closed

[2015-08-19 09:35] #11 closed

[2015-08-24 09:58] timoxley opened #12 "Job Board"
Thinking about setting up a SingaporeJS job board.

Simplest thing that will work would be a new `github.com/SingaporeJS/jobs` repo and job postings are new issues.

Would like to charge for postings, and have that money go into a kitty for future SingaporeJS events, but perhaps that's phase two after we have at least some job postings.

Ideally we would specify some minimum requirements for job p

[2015-08-24 13:23] quannt commented on #12
:+1: Good idea. Here's something similar that other groups are using https://github.com/ruby-vietnam/job_board

[2015-08-27 12:32] cbas opened #13 "ITE web development curriculum feedback"
Anyone in this group who wants to help ITE come up with a relevant course for web development? Could help lots of students for many years to come. Only takes one afternoon of sitting in a meeting. Did it before and was pretty rewarding. Can't make it this time due to other obligations.

[2015-08-28 01:26] notthetup commented on #13
This is great. I wonder whom within the community we can ask to help here.

As a community I think we should help in such initiatives, it will only help to strengthen the community as more students come armed with the right skills to contribute to the community.

[2015-08-30 12:16] notthetup commented on #13
@coffeesam Would you be interested in this ^ ?

[2015-08-31 07:09] soareschen opened #14 "talk.js September"
Next meetup will be on Thursday 17/9. We need to start looking for speakers. Meetup page at http://www.meetup.com/Singapore-JS/events/224920859/

Let's see if we can make Electron the main talk for the meetup. @cheeaun do you want to present about it?

[2015-08-31 07:21] soareschen opened #15 "talk.js DevFest Special Edition"
http://www.meetup.com/Singapore-JS/events/226393928/

We will have a special edition of talk.js for DevFest.Asia on Tuesday November 17th.

## Speakers

- Simon Swain
- Joshua Koo

## TODO

- [x] Venue
- [x] Sponsorship

[2015-08-31 07:29] notthetup commented on #15
Sounds good (y). It'll be like RejectJS. :)

[2015-09-10 05:38] sebdeckers commented on #6
What ever happened to this?

[2015-09-10 05:39] sebdeckers commented on #13
Ended up unable to attend. Have failed the future students of ITE's course. :sob: Deity have mercy...

[2015-09-10 05:39] #13 closed

[2015-09-10 06:04] notthetup commented on #13
:(

[2015-09-10 08:59] soareschen commented on #6
I let it slipped through and stopped following up on the venue, so have to cancel and just do the November one with DevFest. :(

[2015-09-27 04:21] #6 closed

[2015-09-27 04:22] #14 closed

[2015-10-08 08:36] notthetup opened #16 "talk.js October Edition"
- [x] Date: Wednesday, October 21, 2015
- [x]  Venue : PayPal
- [x] Food sponsor: PayPal
- [x] Speakers
- [x] Announce on meetup.com
- [x] Announce on Facebook (SingaporeJS, FEDS)
- [ ] Security guest list
- [x] Reminder on day of talk before noon.

Speakers :
- [x] Yap Hong Kheng - Fetch API
- [x] Chen Hui Jing - Using Responsive Images Now
- [x] Sebastiaan Deckers -  Software license auditing wi

[2015-10-12 02:56] sebdeckers commented on #16
@notthetup @soareschen May I please give an ill-prepared talk about software license auditing and how SPDX and package.json will save the world?

[2015-10-12 03:10] notthetup commented on #16
:+1:

[2015-10-16 08:49] notthetup opened #17 "talk.js Douglas Crockford Special Edition"
http://www.meetup.com/Singapore-JS/events/226070428/

- [x] Date: Wednesday, November 4, 2015
- [x]  Venue : PayPal
- [x] Food sponsor: PayPal
- [x] Speakers
- [x] Announce on meetup.com
- [ ] Announce on Facebook (SingaporeJS, FEDS)
- [ ] Security guest list
- [ ] Reminder on day of talk before noon.

Speakers :
- [x] Douglas Crockford

[2015-10-16 09:33] quannt commented on #17
wow :+1:

[2015-10-25 06:46] sayanee opened #18 "Douglas Crockford fireside chat questions"
Related to #17  and [meetup](http://www.meetup.com/Singapore-JS/events/226070428/)

Format of fireside chat :alarm_clock: 30 minutes:

- :alarm_clock: 15 minutes: curated questions
- :alarm_clock: 15 minutes live audience questions

The preliminary ideas on the themes of the fireside chat are:

- Upgrading the Web ([related to his talk](http://www.meetup.com/Singapore-JS/events/226070428/))
- Pers

[2015-10-25 08:44] sebdeckers commented on #18
#### JavaScript in the Browser
- Is there room on the web for other languages?
- What benefits are there to the JS monopoly?
- Are transpilation-friendly features in ECMAScript leading up to a Cambrian explosion of second-class web languages?

#### JavaScript in Other Environments
- How much of JavaScript's renaissance is attributable to Node.js and NPM (or vice-versa)?
- Which other platforms wil

[2015-10-27 10:39] soareschen opened #19 "NodeSchool DevFest.Asia"
http://www.meetup.com/Singapore-JS/events/226393698/

- Date: Sunday 15 November
- Time: 10am - 5pm
- Venue: Microsoft Singapore

TODO:

- [x] Create meetup page
- [x] Find mentors
- [ ] Arrange food & beverages
- [ ] Select workshops to cover
- [ ] Save materials in thumbdrives

# Workshops to Cover

Please suggest the workshops that we should cover, choosing from http://nodeschool.io/. Here is m

[2015-10-29 11:39] soareschen commented on #18
A bit of cheating: Douglas have gave this talk before and you can pre-listen to the talk at YouTube: https://www.youtube.com/watch?v=YRo2GStE3Qg

[2015-10-29 12:01] soareschen commented on #19
Draft meetup page for NodeSchool: http://www.meetup.com/Singapore-JS/events/226393698/

[2015-10-29 12:04] #16 closed

[2015-10-29 13:10] sayanee commented on #18
@cbas - Excellent questions! These should be enough for both curated and fill-in questions.

@soareschen :satisfied: ok i have some homework to do this weekend to prep! Thanks!

[2015-10-30 00:55] notthetup commented on #18
@sayanee As I mentioned earlier, https://devchat.tv/js-jabber/168-jsj-the-future-of-javascript-with-jafar-husain is a great interview about the future of JS which might be great background knowledge.

[2015-11-02 23:55] notthetup commented on #18
https://www.youtube.com/watch?v=FHRXPlq9XNw

[2015-11-03 14:48] soareschen commented on #18
I have some questions for Douglas' Seif project proposal.
- I can relate to HTML not being the perfect UI for the web, but why Qt instead?
- If we have the chance to reinvent the web, why keep JavaScript as the only language for the web?

[2015-11-03 14:56] notthetup commented on #18
Hehehehe..
1. I wondered about that too.. Qt uses XML?
2. I guess cos he's a big JS fan.. :P

[2015-11-03 16:07] alyssaq commented on #18
Qt QML looks like JSON that can be integrated with javascript. (http://doc.qt.io/qt-5/qtqml-syntax-basics.html). Kinda neat

[2015-11-04 01:08] sayanee commented on #18
Thanks @soareschen and @notthetup for the inputs. Seems like the general themes that I will start off in the fireside chat will be:
1. Possibility of other languages for the web
2. JavaScript beyond web for hardware, networking, sysadmin, etc
3. JavaScript language design

@soareschen Seif project will be a great first audience question to get the ball rolling!

[2015-11-04 02:50] serrynaimo commented on #18
As a pre-caution for tonight :) https://twitter.com/jashkenas/status/611277674191978496

[2015-11-04 08:23] zz85 commented on #18
Questions for Douglas
1. you don't seem like a bad person in real life. why do you like hurting people feelings?
2. with many other alternatives today to jslint (eg. jshint, eslint, jscs etc), do you feel that less feelings are hurt today?

[2015-11-04 12:32] sebdeckers commented on #18
Seif questions:
- crypto > dns = namecoin???
- did xmpp fail because it used dns and xml instead of json?
- spam was killed by IM apps (wechat, fb msg) -- would that be a suitable approach for Seif to gain adoption as a protocol instead of the web?

[2015-11-05 00:35] sayanee commented on #18
Thanks everyone for your inputs! Really enjoyed the audience questions yesterday  :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-11-05 00:35] #18 closed

[2015-11-05 02:43] cheeaun commented on #18
:+1:

[2015-11-09 10:39] sebdeckers commented on #19
Been teaching a few Nodeschool workshops to a group of students. One thing to look out for is that the workshops don't seem to print the solution code. Seems like a bug but didn't yet investigate which module is at fault.

[2015-11-10 11:59] timoxley commented on #19
cc @mdda

[2015-11-12 09:03] soareschen commented on #19
Tentative schedule for the day:
- 10:00-10:30 - Welcome and introduction
- 10:30 - 13:00 - Workshop session 1
  - Functional Javascript
  - Scope Chains And Closures
  - Web Audio School
- 13:00 - 14:00 - Lunch break
- 14:00 - 16:30 - Workshop session 2
  - Learn You Node
  - Planet Proto
  - Learn You React

Things to note:
- First time participants to NodeSchool are encouraged to work on Functio

[2015-11-12 09:57] soareschen commented on #19
Instructions for mentors:
- Complete at least 1~2 workshops to get yourself familiar with NodeSchool. I would recommend trying Functional JavaScript and Learn You Node.
- We will have an informal mentorship session at HackerspaceSG this Saturday. If you are free that day, [register on Meetup](http://www.meetup.com/Singapore-JS/events/226722668/) and come join us. Otherwise just show up on Sunday t

[2015-11-13 15:43] sneakertack commented on #19
Can't make it for tomorrow (Sat), will be there on Sun. Will spend time to review the workshops again tomorrow.

[2015-12-08 12:34] #19 closed

[2015-12-08 12:34] #17 closed

[2015-12-08 13:39] #15 closed

[2015-12-08 13:39] #7 closed

[2015-12-08 13:39] #10 closed

[2015-12-08 14:24] tjiahen commented on #12
Or something like http://ruby.sg/companies

[2016-01-25 09:23] soareschen opened #22 "talk.js Febuary Meetup (active)"
We have new organizers helping out for the next meetup! @ongmin @jsstrn @caalberts @shawnlimws
Let's start by making a list of TODO tasks:

**To-do tasks**
- [x] Date: 22 Feb (Monday)
- [x] Venue: PayPal?
- [x] Food sponsor: PayPal?
- [ ] Speakers
- [x] Announce on [SingaporeJS Meetup](http://www.meetup.com/Singapore-JS/) - to be edited with confirmed talks at [February Meetup Link](http://www.mee

[2016-01-26 01:04] shawnlimws commented on #4
@caalberts, for the front-end TL:DR  venue, we can populate the list here? Then maybe we can slowly approach them :smile: Or should we create a separate issue for it?
1. Sonoport

[2016-01-26 05:04] sebdeckers commented on #4
@shawnlimws This seems somewhat off topic to the original question of this issue. Feel free to create a new issue; they're free. :smile:

[2016-01-26 07:55] notthetup commented on #4
For Sonoport contact @hongkheng

[2016-01-26 10:06] shawnlimws commented on #4
@notthetup thanks!

[2016-01-26 10:12] shawnlimws opened #23 "Front End TL;DR Venues"
@caalberts, we can compile the possible venues here, and maybe we can approach Sonoport for the coming one?

Just of the top of my head, I put in a few places. I also got some places from data.webuild.sg, but not sure if Front End has already been there before or if there are suitable :) @cbas
# Possible Venues
1. Sonoport - @hongkheng
2. Redmart -
3. Tech In Asia -
4. Thoughtworks -
5. Neo -
6. S

[2016-01-27 01:02] caalberts commented on #23
# Possible Venues
1. Sonoport - @hongkheng
2. Redmart -
3. Tech In Asia -
4. Thoughtworks -
5. Neo -
6. Skyscanner -
7. TradeGecko -
8. IDA Hive -

[2016-02-01 13:27] ongmin commented on #5
For easy editing, topics thread has been moved to Wiki page: [Presentation topics for talk.js](https://github.com/SingaporeJS/organizers/wiki/Presentation-topics-for-talk.js). :)
This issue will be closed soon.

[2016-02-02 02:29] sebdeckers commented on #23
- Smove

[2016-02-02 07:18] caalberts opened #24 "Front End TL;DR List of Suggested Topics"
@cbas @shawnlimws - List of topics for suggestions. Some from newsletters, some from word of mouth.
- [ ] [Preact - fast React alternative](http://developit.github.io/preact/)
- [ ] [Offline page with service workers](http://deanhume.com/Home/BlogPost/create-a-really--really-simple-offline-page-using-service-workers/10135)
- [ ] [Codepen console](http://blog.codepen.io/2016/01/27/new-feature-javas

[2016-02-02 14:42] shawnlimws commented on #24
- [ ] [Aurelia framework](http://aurelia.io/)

[2016-02-05 15:01] ongmin opened #25 "talk.js April Meetup"
**To-do tasks**
- [x] Date: 14th April 2016 (Thursday)
- [x] Venue: Paypal
- [x] Food sponsor: Paypal
- [x] Speakers
- [x] Announce on [SingaporeJS Meetup Page](http://www.meetup.com/Singapore-JS/) - [April's Talk.JS](http://www.meetup.com/Singapore-JS/events/229811309/)
- [x] Announce on [SingaporeJS Gitter](https://gitter.im/SingaporeJS/discussions)
- [x] Announce on [SingaporeJS Facebook Group]

[2016-02-05 15:03] ongmin opened #26 "blank"
blank

[2016-02-05 15:11] #26 closed

[2016-02-06 05:55] caalberts commented on #24
- [ ] [nightwatch js - browser automated test](http://nightwatchjs.org/)
- [ ] [samsarajs](http://samsarajs.org/)
- [ ] [ES2015 proxies](https://developers.google.com/web/updates/2016/02/es2015-proxies)

[2016-02-06 17:14] zz85 commented on #22
who suggested me? :scream: (on another hand I think I spoke on js1k at talk.js a couple years ago?)

[2016-02-06 18:35] ongmin commented on #22
@zz85 I think Tim did.. :see_no_evil: if you're coming, would you like to speak quickly about it? the crowd changes, it wouldn't seem like a repeat (if you don't mind talking about it again..)

[2016-02-07 00:49] notthetup commented on #22
@zz85 You encourage people to participate leh.. maybe give a few tips suggesting how they can get started.. :)

[2016-02-07 01:04] zz85 commented on #22
Ok, guess I will be back by popular demand! :grin:

[2016-02-10 11:54] shawnlimws commented on #23
hey @caalberts! have the people at IDA gotten back to you? If not we might have to try other venues already.

[2016-02-10 14:02] caalberts commented on #23
@shawnlimws no news yet. I've also contacted MRM// McCann (agency)

I think we should try all possible venues. If we have more than one we can queue them for future meetups.

[2016-02-10 14:38] shawnlimws commented on #23
oh oh! sounds good too.. let me contact the sonoport person then :)

[2016-02-10 16:21] sebdeckers commented on #23
- Honestbee (they're hosting _everything_ lately :+1: )

[2016-02-10 17:09] ongmin commented on #22
:+1: :smile:

[2016-02-11 11:13] joerx commented on #22
Thought the gulp talk was off due being same same as Soares' earlier talk? :open_mouth:

[2016-02-11 15:19] shawnlimws commented on #23
hey @cbas! do you know who I can contact from honestbee?

[2016-02-11 17:14] ongmin commented on #22
Updated, sorry, missed that. :see_no_evil:
Didn't see it on [engineer.sg's archives](https://engineers.sg/episodes/search?search=talk.js), only saw Zell's last september.

[2016-02-12 10:21] sebdeckers commented on #23
@shawnlimws I'd try attending one of the many events at their office. Or contacting others who organise events that take place there and ask for an intro.

[2016-02-12 11:06] soareschen commented on #22
@joerx you can still find a different topic or talk about something different on the same subject. ;)

@ongmin shall we finalize the schedule?

[2016-02-12 11:15] notthetup commented on #23
@shawnlimws If you can't get through, I can try to ask Issac who's one of the co-founders I think.

[2016-02-12 18:06] ongmin commented on #22
@soareschen @jsstrn ok! So the ones above with checks are confirmed. So if we estimate 15mins for the 4 confirmed topics + Tim's news 7 mins = 67mins.

[2016-02-14 02:27] joerx commented on #22
@soareschen - let's aim for the next meetup. plenty of time to think about sthg. ;)

[2016-02-16 13:52] soareschen commented on #25
The founder of Ghost, John O'Nolan, will be coming to Singapore next month to re-incorporate Ghost in Singapore: https://blog.ghost.org/moving-to-singapore/

We should reach out to him and ask him give a special talk for next meetup.

[2016-02-17 03:21] caalberts commented on #23
@shawnlimws YJ knows the honestbee person who organised one of the data meetup he attended. Asking him to intro.

[2016-02-17 11:33] caalberts commented on #23
@shawnlimws got in touch with the Honestbee person. Cc you in the email

[2016-02-18 05:44] caalberts opened #27 "Front End TL;DR - March 2016"
Date: 14 March 2016
Venue: Honestbee - 2 Alexandra Road Delta House #04-01B Singapore 159919
Snacks & drinks provided

@cbas @shawnlimws

[2016-02-18 05:48] caalberts commented on #23
@notthetup got in contact with Isaac too. thanks :+1:

[2016-02-18 13:48] #5 closed

[2016-02-19 04:11] caalberts commented on #27
facebook and Meetup pages:

https://www.facebook.com/events/1014719281928474/
http://www.meetup.com/Singapore-JS/events/228966124/

[2016-02-22 16:45] ongmin commented on #22
Thank you @stwissel, @zz85 @calvintan for the talks today! :) They were awesome!

=== It's a wrap! :tada: ===

[2016-02-22 16:45] #22 closed

[2016-02-29 04:39] shawnlimws commented on #23
@caalberts I contacted sonoport already through hongkheng.. so waiting for an update :)

[2016-03-01 08:10] ongmin opened #28 "Chitchat with John O'Nolan"
(if checked === confirmed)**

**To-do tasks**
- [ ] Date: Between 03-13 March
- [ ] Venue: PayPal?
- [ ] Food sponsor: PayPal?
- [ ] Announce on [SingaporeJS Meetup](http://www.meetup.com/Singapore-JS/) - more details to be updated at [Meetup: Chitchat with Ghost](http://www.meetup.com/Singapore-JS/events/229250360/)
- [ ] Announce on [SingaporeJS Gitter](https://gitter.im/SingaporeJS/discussions)

[2016-03-01 08:12] sayanee commented on #28
:+1: I'm ok with PayPal - any choice of the date? I guess gotta ask PayPal

[2016-03-02 09:08] sayanee commented on #28
Any updates on this? Let's get the venue confirmed asap so that we can avoid any schedule clashes :smiley:

[2016-03-14 02:01] caalberts commented on #23
- glints - another possibility

[2016-04-01 08:16] vshivam commented on #25
Hi guys! How do I go about proposing a talk ? Something along the lines of JavaScript and Internet of Things.

[2016-04-02 09:48] GIANTCRAB commented on #25
Hello! Is there any room left for speakers? I would be happy to speak about JS Performance.

[2016-04-05 15:04] ongmin commented on #25
@GIANTCRAB  Updated the Speakers. :)

[2016-04-14 07:46] ongmin commented on #25
**Moved to May**
- [x] Ambient Dynamix : JS and IoT -  Shivam Verma (@vshivam)

[2016-05-02 10:52] jsstrn commented on #25
@ongmin I suggest closing this issue and opening a new one for each new event.

[2016-05-02 11:10] jsstrn opened #29 "talk.js - May 2016"
#### Details
- [x] Date: May 19, 2016
- [x] Hosts: @ongmin and @jsstrn
- [x] Venue sponsor: PayPal Singapore, Suntec Tower 5
- [x] Food/drink sponsor: PayPal

#### Speakers
- [x] How well do you know your Functions? - Tim Oxley
- [x] Taxi Router - Chee aun
- [x] es6+angular development - Krishna Murali
- [x] :no_entry_sign: :fearful:  - Chris Lienert

- If you would like to speak, please ping!

**

[2016-05-11 06:32] #25 closed

[2016-05-29 06:55] joeytwiddle commented on #24
[Inferno](https://github.com/trueadm/inferno) is another fast React alternative with mostly the same API. (For comparison.)

[2016-06-07 14:28] ongmin commented on #29
Few notes:
- Less technical talks this round, with 1 quiz, 1 width topic (fear) and 1 sharing of pet project.
- Audience seemed engaged in the interactive talks.
- Less people came forward to suggest talks this month, 1 day-1 withdrawal.

Closing issue...

[2016-06-07 14:28] #29 closed

[2016-06-07 14:44] ongmin opened #30 "talk.js - June 2016"
#### Details
- [x] Date: June 30, 2016
- [x] Hosts: @ongmin (@jsstrn away)
- [x] Venue sponsor: PayPal Singapore, Suntec Tower 5
- [x] Food/drink sponsor: PayPal

#### Speakers
- [x] GPU design with Javascript - Shipeng Xu
- [x] DNA Genealogy - Andreas West
- [x] Progressive Web App - Thye Yeow Bok

- If you would like to speak (this or next months), please ping!

**Note to speakers:** Add a comme

[2016-06-07 14:45] ongmin commented on #30
Link to Shipeng's talk (GPU design with Javascript)'s repo: https://github.com/billhsu/renderer.js

[2016-06-19 07:17] jsstrn commented on #30
I'll be away from 22 June to 30 July.

[2016-06-19 07:34] jsstrn opened #31 "talk.js - July 2016"
**Title of your talk**: _insert catchy title here_
**Talk description**: _tell us what you'd like to talk about_
**Presenters**: _include your GitHub handles where possible_
**Duration requested**: _lightning (5 min), default (10min + 5mins Q&A), long (15min + 5mins Q&A)_
**Deck URL** (if any): _you can add this part in later_

[2016-06-20 14:34] giftofjehovah commented on #31
**Title of your talk**: Telegram Bot
**Talk description**: sharing our experience building a telegram bot in AngelHack 2016, advantages and potential of a bot, future plans.
**Presenters**: @giftofjehovah, @silverframe, @finalight, @cxchua
**Duration**: regular (15 to 20 min) _\- edit by min (default (10mins + 5mins Q&A)_
**Deck URL (if any)**: will add in later

[2016-06-23 07:42] gabrielle-ong commented on #31
**Title of your talk:** More than a donation...
**Talk description:** Sharing our hack from our FB Hackathon
**Presenters:** @jolozy, @chelimin, @gabrielle-ong, @yangshun
**Duration:** lightning (5 min) - _ok!_
**Deck URL:** later

[2016-06-23 07:42] gabrielle-ong commented on #31
@ongmin @jsstrn when is the July meetup?

[2016-06-23 19:41] ongmin commented on #31
Heyhey, should be 3rd or 4th week of July. We haven't fixed the dates but
will start to do it in advance soon.

On Thursday, 23 June 2016, Gabrielle Ong Hui Min notifications@github.com
wrote:

[2016-06-27 15:55] ongmin opened #32 "talk.js - August 2016"
#### Details
- [x] Date: August 25, 2016 - Thursday
- [x] Hosts: @ongmin @jsstrn
- [x] Venue sponsor: PayPal Singapore, Suntec Tower 5
- [x] Food/drink sponsor: PayPal

#### Speakers
- [x] Performance implications of using the special arguments variable - @jhecking
- [x] Declarative vs Imperative Programming - Chris Boesch
- [x] Encouraging Kids to Code - Shannon Boesch

- If you would like to spe

[2016-06-27 15:57] ongmin commented on #28
Post-event comments
- This complementary topic was very well received and enjoyed by attendees.

[2016-06-27 15:57] #28 closed

[2016-07-04 12:39] jsstrn commented on #31
Thanks for organizing this @ongmin!

[2016-07-15 02:41] sebdeckers commented on #30
Guess this can be closed now? Is the `(Active)` in the title meant to be a label? GH Issues supports labels natively so no need to overload the issue title. And one could probably just use `Open`/`Closed` status. $0.02

[2016-07-15 02:51] sebdeckers commented on #31
Can I please propose one more short-ish talk?

## Title of your talk

The Promise of HTTP/2 Server Push

## Talk description

Optimising asset delivery over HTTP/1.1 necessitated hacky "best practices" that are obsoleted by the design of HTTP/2. Features like stream multiplexing and header compression are easy to deploy, free wins. But HTTP/2 Push requires a rethink of some old habits. No more spr

[2016-07-15 08:12] ongmin commented on #31
Awesome! :D Could be fun if you shared a little about the good parts observed from the meetups you go to elsewhere too @cbas !

[2016-07-15 08:13] ongmin commented on #31
Meetup set on 27th July (Wed), hope that works for everyone!
Here: http://www.meetup.com/Singapore-JS/events/232635616/

[2016-07-17 17:58] ongmin commented on #31
http://carparks-sg.herokuapp.com/ - David Tan @davified

[2016-07-19 11:27] davified commented on #31
**Title of your talk**: Visualising real-time carpark data with Carparks-SG (or, How to have fun with LTA Data Mall)
**Talk description**: I'll discuss and walk through my code for Carparks-SG, which is an app built using Node and Express (http://carparks-sg.herokuapp.com/)
**Presenter**: @davified
**Duration**: 10 mins + 5 mins Q&A _\- ok!_
**Deck URL**: (can i send it to you on Tues night?)

[2016-07-22 01:52] gabrielle-ong commented on #31
Hey @ongmin, can @giftofjehovah's group and my group swop slots? We prefer
each other's slots:P

On Jul 19, 2016 7:27 PM, "David Tan" notifications@github.com wrote:

[2016-07-26 06:23] ongmin commented on #31
@gabrielle-ong @giftofjehovah hello! done. :)

[2016-07-26 16:44] davified commented on #31
hey @ongmin , sorry for the delay. here are my slides! http://bit.ly/2ard8f0

[2016-07-28 12:33] #30 closed

[2016-07-28 12:33] #27 closed

[2016-07-28 12:34] ongmin opened #33 "Call for Proposals - Any Month"
**Title of your talk**: _insert catchy title here_
**Talk description**: _tell us what you'd like to talk about_
**Presenters**: _include your GitHub handles where possible_
**Duration requested**: _lightning (5 min), default (10min + 5mins Q&A), long (15min + 5mins Q&A)_
**Deck URL** (if any): _you can add this part in later_

[2016-07-28 12:38] ongmin opened #34 "talk.js - upcoming dates"
- 25 Aug (Thurs)
- 29 Sep (Thurs)
- 27 Oct (Thurs)
- 24 Nov (Thurs) - DevFest Special

[2016-07-28 12:39] ongmin commented on #32
**Title of your talk**: _insert catchy title here_
**Talk description**: _tell us what you'd like to talk about_
**Presenters**: _include your GitHub handles where possible_
**Duration requested**: _lightning (5 min), default (10min + 5mins Q&A), long (15min + 5mins Q&A)_
**Deck URL** (if any): _you can add this part in later_

[2016-07-29 01:28] jhecking commented on #32
**Title of your talk:** How avoiding arguments saved the day and improved benchmark performance by 10%
**Talk description:** Optimizing a performance critical function in the Aerospike Node.js client library improved performance of that function by 34x and resulted in a 10% increase in the client's benchmark performance. I will explore how the use of the special `arguments` variable in a variadic

[2016-07-29 11:19] timoxley commented on #34
@ongmin are these confirmed?

[2016-07-29 11:20] timoxley commented on #4
This seems resolved for now.

[2016-07-29 11:20] #4 closed

[2016-07-30 09:15] ongmin commented on #34
@timoxley yup, we've booked the hall with paypal. :) the events were also created on meetup, under drafts.

[2016-07-30 10:10] ongmin opened #35 "talk.js - November 2016 - DevFest Special"
### Details
- [x] Event URL: [talk.js](https://www.meetup.com/Singapore-JS/events/232635707/)
- [x] Date: November 24, 2016 - Thursday
- [x] Hosts: @jsstrn @cbas
- [x] Venue sponsor: PayPal Singapore, Suntec Tower 5
- [x] Food/drink sponsor: PayPal

### Speakers
- [x] Paws on Progressive Web Apps by @hemanth
- [x] Serverless AWS JavaScript Apps by @kaihendry
- [x] JavaScript in the Enterprise by A

[2016-09-14 14:18] jsstrn opened #36 "talk.js - September 2016"
### Details

- [x] Event URL: [talk.js](https://www.meetup.com/Singapore-JS/events/232635720/)
- [x] Date: September 29, 2016 - Thursday
- [x] Hosts: @jsstrn
- [x] Venue sponsor: PayPal Singapore, Suntec Tower 5
- [x] Food/drink sponsor: PayPal

### Organizers' to-dos

- [x] Announce on SingaporeJS Meetup Page
- [x] Announce on SingaporeJS Gitter
- [ ] Announce on SingaporeJS Facebook Group

### S

[2016-09-21 02:30] piratefsh commented on #36
hey hey! i'd like to give a talk.

Title of your talk: Debugging JavaScript, without console.log (!!!)

Talk description: Let's talk about debugging JavaScript. Most of us start out learning how to debug by logging stuff to the console. But sometimes, that doesn't tell us enough. Was my DOM element updated at all? What series of events led to that error? What if things are crashing in library code

[2016-09-21 03:16] jsstrn commented on #36
@piratefsh awesome!

[2016-09-21 03:20] jsstrn opened #37 "talk.js - October 2016"
### Details
- [x] Event URL: [talk.js](https://www.meetup.com/Singapore-JS/events/232635721/)
- [x] Date: October 27, 2016 - Thursday
- [x] Hosts: @jsstrn
- [x] Venue sponsor: PayPal Singapore, Suntec Tower 5
- [x] Food/drink sponsor: PayPal
### Speakers
- [x] Babel plugins: Writing code that writes code by @cbas - 10min
- [x] TypeScript 101 by @andyshuhsin - 10min
- [x] Introduction to Vue.js by

[2016-09-21 03:37] jsstrn commented on #36
Hi @taras can I confirm that you'll be giving this talk this month?

[2016-09-21 03:43] taras commented on #36
@jsstrn I'm not sure if I'll be in Asia at that time. I'm sorry I can't commit for this one.

[2016-09-26 09:44] Stwissel commented on #36
I'd like to present:
**JavaScript on the JVM**
With the Java8 JVM the build in JavaScript engine has been upgraded from "Rhino" to "Nashorn". Together with the [Vert.x](http://vertx.ion) project that enables JavaScript execution without the V8 or NodeJS. It offers "Java" shops to tiptoe into JavaScript applications.
I will provide an introduction, code samples and comparison to nodeJS

... could b

[2016-09-26 10:04] jsstrn commented on #36
@Stwissel I've updated this month's talk.js agenda with your talk. See you this Thursday then.

[2016-09-26 11:27] Stwissel commented on #36
Excellent. See you Thursday!

[2016-09-30 02:08] jsstrn commented on #36
Thanks @piratefsh @finalight @Stwissel for your interesting talks yesterday.. it was a pleasure learning from all of you.

[2016-09-30 02:08] #36 closed

[2016-10-11 02:41] sebdeckers commented on #37
For your consideration...

**Title of your talk:** Babel Plugins: Writing code that writes code
**Talk description:** Taking a closer look at what else Babel can do for us besides ESnext support. Let's use custom Babel transformations, aka codemods, in the build pipeline.
**Presenter:** gitlab:sebdeckers
**Duration requested:** default (10min + 5mins Q&A)
**Deck URL:** will add a repo of content,

[2016-10-11 05:32] jsstrn commented on #37
@cbas would love to have you talk at this month's talk.js 👾

[2016-10-11 13:52] blaesus commented on #37
This will be my first time at talk.js and I'm not based in Singapore (I'll be travelling). Is that OK? Anyways, here's my proposal.

Title of your talk: TypeScript 101
Talk description: benefits of TypeScript (over vanilla JavaScript) — type safety, code completion, documentation in code, et al.
Presenters: @andyshuhsin
Duration requested: long (15min + 5mins Q&A); 10min+5min is also doable.
Deck

[2016-10-12 22:40] kevingzhang commented on #37
Hi there,

I am Kevin Zhang, CTO of iHealth labs US. In Aug talk.js I had a 5 minutes open mic talking about iHealth Singapore.  This month, there are 8 software engineers coming to Singapore from Silicon Valley with me. We are setting up iHealth(Singapore) Pte Ltd. Our US Engineers plan to have a technical talk about modern business app stack we are using in Silicon Valley.
- React, Redux
- Graph

[2016-10-13 08:39] jsstrn commented on #37
Hi @andyshuhsin, of course that's okay. We love it when people from other parts of the world come and give a talk. Looking forward to your talk on TypeScript.

[2016-10-13 08:42] jsstrn commented on #37
Hi @kevingzhang, if you (or your team) would like to give a talk could you fill up the details below? Thank you.

[2016-10-13 09:31] phanan commented on #37
For your consideration:

Title of your talk: A quick introduction to Vue.js
Talk description: Introduction to Vue.js, the rising progressive JavaScript framework – what it is, how it's different, and what makes it a 30K-stars-and-counting project on GitHub.
Presenters: @phanan (Vue's core team member)
Duration requested: default (10min + 5mins Q&A)
Deck URL (if any): N/A

[2016-10-16 22:59] kevingzhang commented on #37
Hi @jsstrn  sorry for my late reply, was on the one of the longest flight from SFO to SIN.
Yes, sure, our team (not only me) would like to give a talk.

Title of the talk:" Modern JS Tech Stack on React Redux GraphQL, Docker and more"
Description: "In this talk, we are going to show our tech stack on iHealth (Singapore). All speakers are coming from iHealth US Silicon Valley office. We will go thr

[2016-10-19 07:36] jsstrn commented on #37
Hi @phanan and @kevingzhang, looking forward to your talks next week.

[2016-10-19 08:46] ongmin commented on #35
+ Hemanth (https://github.com/hemanth)

[2016-10-19 08:47] jsstrn commented on #35
Want to speak at this month's talk? Leave a comment below with the following details:

Talk description: tell us what you'd like to talk about
Presenters: include your GitHub handles where possible
Duration requested: lightning (5 min), default (10min + 5mins Q&A), long (15min + 5mins Q&A)
Deck URL (if any): you can add this part in later

[2016-10-19 10:44] kevingzhang commented on #37
Thanks @jsstrn . Do our team members need to go there earlier to prepare something?

[2016-10-19 16:20] jsstrn commented on #37
No preparations required on our side. Be there at 7p for pizza and drinks
and chit chat. We start the talks at 7.30p.

On 19 October 2016 at 6:44:30 PM, kevingzhang (notifications@github.com)
wrote:

[2016-10-20 04:08] #31 closed

[2016-10-20 04:08] #32 closed

[2016-10-20 06:05] jsstrn commented on #35
Hi @hemanth, would you be able to provide details of your proposed talk? Fill up these details:

[2016-10-20 08:56] hemanth commented on #35
Sure.

Title of your talk: Paws on PWA.

Talk description: Introduction to progressivewebapps, this talk shall walk you through the different ingredients that make a PWA. (Serviceworkers, ATHS, BackgroundSync, PushNotification being the major areas that will be covered)

Presenters: @hemanth

Duration requested: long (15min + 5mins Q&A)

[2016-10-21 04:00] #34 closed

[2016-10-21 04:21] jsstrn commented on #35
Looking forward to the talk, @hemanth.

[2016-10-23 10:19] phanan commented on #37
@jsstrn Can you make my talk a 15' instead? Sorry for the change of plan.

[2016-10-24 05:42] jsstrn opened #38 "talk.js - December 2016"
### Details
- [ ] Event URL on Meetup.com: [talk.js]()
- [x] Date: December 29, 2016 - Thursday
- [x] Hosts: @jsstrn @sebdeckers
- [x] Venue sponsor: PayPal Singapore, Suntec Tower 5
- [x] Food/drink sponsor: PayPal

### Speakers
- [ ] How (Not) to Build an Augmented Reality App in 3 Weeks by @ZhangYiJiang
- [ ] You? 😉

Want to speak at this month's talk? Leave a comment below with the following d

[2016-10-27 08:51] kaihendry commented on #35
Title of your talk: Serverless AWS JS apps
Talk description: Sharing experiences of creating a serverless Web app for company employees
Presenter: @kaihendry
Presenter's bio: #juniordevforlife
Duration requested: default
Deck URL: http://talks.webconverger.com/2016-11-24/

[2016-10-28 00:10] sebdeckers commented on #37
@jsstrn Thanks for the excellent event last night. 🙇

If I might make one suggestion it would be to have a timer facing the speaker. I tend to lose track of time and overrun. Apologies for that last night.

[2016-11-01 01:11] jsstrn commented on #37
@cbas glad you enjoyed last month's meet up.. I'll definitely consider your suggestion. Thank you for your feedback.

[2016-11-06 12:56] #37 closed

[2016-11-06 13:12] jsstrn commented on #35
Hi @kaihendry, looking forward to your talk.

[2016-11-06 13:19] jsstrn commented on #35
Don't forget to register for the event on [Meetup.com](https://www.meetup.com/Singapore-JS/events/232635707/).

[2016-11-14 04:43] ZhangYiJiang commented on #35
Apologies if this is too late for inclusion in this month's meetup - if it is, please move this to next month's instead.

Title of your talk: How (not) to Build an Augmented Reality App in 3 Weeks
Talk description: Lessons learnt from building an augmented reality mobile web application in three weeks for CS3216 Software Product Engineering on Digital Platforms
Presenter: @ZhangYiJiang
Presenter's

[2016-11-19 06:09] jsstrn commented on #35
Looking forward to your talk @ZhangYiJiang! 🎉

[2016-12-01 11:30] #35 closed

[2016-12-01 11:40] jsstrn commented on #38
Hi @ZhangYiJiang, would you like to give your proposed talk this month?

[2017-01-05 09:42] #38 closed

[2017-01-05 09:44] jsstrn opened #39 "talk.js - January 2017"
### Details
- [x] Event URL on Meetup.com: [talk.js](https://www.meetup.com/Singapore-JS/events/236855197/)
- [x] Date: January 26, 2016 - Thursday
- [x] Hosts: @ongmin @jsstrn @sebdeckers
- [x] Venue sponsor: PayPal Singapore, Suntec Tower 5
- [x] Food/drink sponsor: PayPal

### Speakers
- [x] Why progressive JPEGs and HTTP/2 are BFFs by Inian
- [x] Protocol Buffers & JSON by Sunny Singh
- [x] Pr

[2017-01-05 10:29] inian commented on #39
**Title**
Why progressive JPEGs and HTTP/2 are BFFs

**Talk description**
I will explain what progressive JPEGs are, their benefits and how they are going to be even more awesome when used along with a website with HTTP/2.

**Presenter**
Inian Parameshwaran
http://github.com/inian
https://twitter.com/everConfusedGuy

**Presenter's bio**
Inian Parameshwaran is the founder of Dexecure (https://dexec

[2017-01-05 10:38] sebdeckers commented on #38
@jsstrn Was the December event cancelled? Didn't see it on Webuild.

[2017-01-05 12:17] jsstrn commented on #38
@sebdeckers yes, there were no speakers for December. Didn't get your memo on wanting to do a end of year special at your place. Thought that was a good idea though.

[2017-01-05 14:29] jsstrn commented on #39
Hi @inian, sounds like an interesting talk. See you then.

[2017-01-13 07:27] sstrgh commented on #39
**Title**
PB&J : Protocol Buffers & JSON

**Talk Description**
I will be talking about a less well known way of serializing data for use in communication protocols and why It might be worth looking at it as compared to JSON/XML

**Presenter**
Sunny Singh
https://sg.linkedin.com/in/sunnysatrughan

**Presenter's bio**
Sunny is currently a software developer at Grasshopper Asia Pte Ltd., A high frequ

[2017-01-16 02:43] jsstrn commented on #39
Hi @satrughan! Looking forward to your talk and learning about protocol buffers.

[2017-01-16 16:12] sudheerj commented on #39
**Title:**
Leading open source UI component library for Angular 2

**Talk Description**
I will be talking about what is PrimeNG, Why to choose PrimeNG,how PrimeNG makes Angular 2 applications development rapid and easier with rich set of 80+ UI widgets, and ready made stunning themes to customize look and feel of websites.

**Presenter:**
Sudheer Jonna
https://github.com/sudheerj
https://twitter.c

[2017-01-18 15:02] jsstrn commented on #39
Hi @sudheerj! Sorry for the late reply.. looking forward to learning about PrimeNG and it's benefits.

[2017-01-19 12:10] ais-one commented on #39
**Title**
NodeJS & Apache Zookeeper

**Talk Description**
Apache ZooKeeper an open-source server which enables highly reliable distributed coordination. I will be focusing on building ZooKeeper aware node.js applications for high availability & horizontal scalability use cases.

**Presenter**
Aaron Gong
https://sg.linkedin.com/in/aaron-gong-a5bb3851

**Presenter's bio**
Information on my work is c

[2017-01-19 15:32] jsstrn commented on #39
Hi @ais-one, we've maxed out this month's slots for speakers. Would you like to propose this talk in our next meet up? I'll ping you again. Thank you so much and apologies for any inconvenience caused.

I've created an issue for future proposed talks here https://github.com/SingaporeJS/organizers/issues/40 and added your talk.

[2017-01-19 15:39] jsstrn opened #40 "talk.js - talk proposals"
Hey there! 👋

🗣 Want to speak at talk.js? Great! We'd love to have you over as a speaker. Leave a comment here with the details below and we'll get back to you soon.

✈️ If you're visiting Singapore for a short period, let us know your preferred dates and we'll see if we can accommodate to your schedule (no promises though).

☕️ You can also reach out to @cheeaun and check out KopiJS https://githu

[2017-01-19 15:40] jsstrn commented on #40
**Title**
NodeJS & Apache Zookeeper

**Talk Description**
Apache ZooKeeper an open-source server which enables highly reliable distributed coordination. I will be focusing on building ZooKeeper aware node.js applications for high availability & horizontal scalability use cases.

**Presenter**
Aaron Gong @ais-one
https://sg.linkedin.com/in/aaron-gong-a5bb3851

**Presenter's bio**
Information on my

[2017-01-19 15:48] jsstrn commented on #39
Fully booked for this month. Please submit proposed talks to https://github.com/SingaporeJS/organizers/issues/40

[2017-01-19 16:15] ais-one commented on #40
I will be busy after CNY till middle of the year, so I guess will have to
do it later, may have more things to cover by then :)

[2017-01-27 14:37] abser commented on #40
**Title:**
Redux store to manage React Native app state and data
**Talk description:**
React Native, created by Facebook Team, is a popular Javascript framework to develop native iOS and Android application. When we use Redux store with React Native, total development becomes beautiful and it eases effort on state and data management in all screens in an app.
**Presenter:** Md Nurul Abser
**Presen

[2017-01-30 10:02] jsstrn commented on #40
Hi @abser, do you have a preferred month when you'd like to present your talk? February may or may not be available (we're trying to get a special guest speaker for February's meetup).

[2017-01-30 13:47] abser commented on #40
Hi Jesstern,
I preferred in February if there is a available slot, otherwise in March.

[2017-01-30 14:59] jsstrn opened #41 "talk.js - February 2017 (Guest Speaker: Douglas Crockford)"
### Details
- [x] Event URL on Meetup.com: [talk.js](https://www.meetup.com/Singapore-JS/events/)
- [x] Date: February 16, 2017 - Thursday
- [x] Hosts: @jsstrn
- [x] Venue sponsor: PayPal Singapore, Suntec Tower 5
- [x] Food/drink sponsor: PayPal

### Speaker
- [x] Douglas Crockford @douglascrockford

**Fully booked for this month.** Please submit proposed talks to https://github.com/SingaporeJS/o

[2017-02-01 06:35] awreccan commented on #41
@jsstrn Is the date still negotiable? If so, PayPal might be able to get Doug Crockford to give a talk. Last I've heard, his dates here are 14-15 Feb.

[2017-02-01 07:30] jsstrn commented on #41
@awreccan yes, the date is still flexible.. let me know once you get a confirmation. Thank you for the update.

[2017-02-03 01:24] awreccan commented on #41
@douglascrockford is available on 16 Feb for a talk at 7pm! @jsstrn hope this works!

[2017-02-03 01:43] jsstrn commented on #41
That's great news, @awreccan! We usually start talks at 7.30pm and allow folks to have pizza from 7pm to 7.30pm. Are we able to start at 7.30pm or is 7pm preferred?

[2017-02-03 02:20] awreccan commented on #41
@douglascrockford Does 7:30pm work instead?

[2017-02-05 16:00] #39 closed

[2017-02-05 16:06] sudheerj commented on #40
@jsstrn When will be next meetup plan after this feb. I mean approximate date in march.

[2017-02-05 16:29] jsstrn commented on #40
@sudheerj our next talk.js meetup in March is scheduled for 30 March 2017 (Thu). Please keep in mind that this is not yet confirmed.

[2017-02-06 18:36] awreccan commented on #41
@jsstrn Doug is ok with 730

[2017-02-15 06:12] jsstrn commented on #41
@awreccan did Douglas mention what his talk will be about? A short write up would be nice so I can put that up on Meetup.com. The last talk he presented on the Seif Project.

[2017-02-15 07:03] realsoelynn commented on #41
@jsstrn The title is "Post JavaScript Apocalypse"

[2017-02-20 11:03] jsstrn opened #42 "talk.js - March 2017"
### Details
- [x] Event URL on Meetup.com: [talk.js](https://www.meetup.com/Singapore-JS/events/237845979/)
- [x] Date: 16 March, 2017 (Thursday)
- [x] Hosts: @jsstrn
- [x] Venue sponsor: PayPal Singapore, Suntec Tower 5
- [x] Food/drink sponsor: PayPal

### Talks
- [x] PrimeReact: Leading open source UI component library for React by Sudheer Jonna
- [x] Compiling to JavaScript with Scala.js by Li

[2017-02-20 11:03] #41 closed

[2017-02-20 11:07] #24 closed

[2017-02-20 11:07] #12 closed

[2017-02-20 11:07] #1 closed

[2017-02-20 11:07] #23 closed

[2017-02-20 11:08] #3 closed

[2017-02-20 11:22] jsstrn commented on #42
Hi @soelynn, could we book 30 March (Thu) for next month's talk.js? Thanks, mate!

[2017-02-20 11:25] jsstrn commented on #40
Hello speakers, @sudheerj @abser @ais-one, our next meetup is on 30 March, 2017 (Thu). Please add your proposals here https://github.com/SingaporeJS/organizers/issues/42 if you'd like to speak in March. Thank you!

[2017-02-20 11:25] realsoelynn commented on #42
yep :)

[2017-02-21 12:58] sudheerj commented on #42
Title:
PrimeReact: Leading open source UI component library for React

Talk Description
I will be talking about what is PrimeReact, Why to choose PrimeReact,how PrimeReact makes React applications development rapid and easier with rich set of UI widgets, and ready made stunning themes to customize look and feel of websites.

Presenter:
Sudheer Jonna
https://github.com/sudheerj
https://twitter.com/

[2017-02-22 02:14] jsstrn commented on #40
@sudheerj your talk is scheduled for our meet up in March.

[2017-02-22 22:41] ais-one commented on #40
Hi,

March and April is quite busy for me as I have a rollout, I will do it in
May.

*Warmest Regards,*

*Aaron*

The information herein is given on a general basis without obligation and
is strictly for information purposes only. We do not warrant the accuracy
or completeness of the information, graphics, links, or other items
contained herein, and expressly disclaim liability for errors or omiss

[2017-02-23 07:06] realsoelynn commented on #42
@jsstrn is it possible to move the date to 31 March?

[2017-02-23 08:57] abser commented on #40
I am trying to make it. I will confirm soon by next few days.
Abser

Sent from my iPhone

[2017-02-24 05:51] jsstrn commented on #40
We might be changing the date for our March meet up. Please check #42 for updates.

[2017-02-24 05:53] jsstrn commented on #42
We may change the date for our March meet up. Will keep you posted on the changes. Thank you for your understanding.

[2017-02-24 06:05] jsstrn commented on #42
The date for March meet up is on 16 March, 2017 (Thursday).

@sudheerj please check your availability and get back to me. Sorry for any inconvenience caused and thank you for your understanding.

[2017-02-25 06:16] sudheerj commented on #42
@jsstrn Thanks for informing and it's fine for me.I will update you for any changes.

[2017-03-02 06:04] lihaoyi commented on #42
This is the place to submit talk proposals for the march meetup right? 😄 If so here's one:

**Title**
Compiling to Javascript with Scala.js

**Talk Description**
This talk will explore the world of compile-to-JS languages: why would you use a compile-to-JS language? How does it work? What are the downsides? We will explore what it looks like to use a compile-to-JS language in a real-world applicat

[2017-03-04 08:57] jsstrn commented on #42
Thanks @lihaoyi.. looking forward to your talk

[2017-03-04 09:00] jsstrn commented on #40
We have one more slot open for March meet up https://github.com/SingaporeJS/organizers/issues/42

[2017-03-06 15:59] sstur commented on #42
If you're still open for presenters, I'd be keen to do a short talk on rapidly building React Native apps using [Expo](https://expo.io). This will be an adaptation of a talk I gave in Jakarta on 7th March.

**Title:**
Easy React Native using Expo

**Description:**
This presentation is about rapidly getting up and running using React Native with Expo. Expo provides a set of developer tools built on

[2017-03-07 02:38] jsstrn opened #43 "talk.js - Pi Day Special"
### Details
- [x] Event URL on Meetup.com: [talk.js](https://www.meetup.com/Singapore-JS/events/238240996/)
- [x] Date: 14 March, 2017 (Tuesday)
- [x] Hosts: @jsstrn
- [x] Venue sponsor: PayPal Singapore
- [x] Food/drink sponsor: PayPal Singapore

### Talk

Introduction to WebAssembly - A new binary format for the Web

#### Talk description

WebAssembly is a new binary format which encodes program

[2017-03-07 02:40] jsstrn commented on #43
@soelynn is 14 March available for this talk on WebAssembly?

[2017-03-07 16:01] jsstrn commented on #43
Hi @chikoski 👋 looking forward to seeing you in Singapore 🇸🇬 next week!

[2017-03-08 02:37] sstur commented on #42
Thanks @jsstrn, for adding my talk to the list! Look forward to meeting you all in Singapore next week.

[2017-03-16 09:40] #43 closed

[2017-03-16 18:03] jsstrn opened #44 "talk.js - April 2017"
### Details
- [x] Event: [talk.js]()
- [x] Date: 20 April 2017
- [x] Hosts: @jsstrn
- [x] Venue sponsor: PayPal Singapore, Suntec Tower 5
- [x] Food/drink sponsor: PayPal

### Talks
- [x] PrimeReact: UI Component Library for React by Sudheer Jonna
- [x] How to Choose the Right Front-End Framework for Your Company by Chris Lienert
- [ ] _You?_

### Propose a talk this month
Want to speak at this mo

[2017-03-16 18:03] #42 closed

[2017-03-23 12:39] sudheerj commented on #44
Title:
PrimeReact: Leading open source UI component library for React

Talk Description
I will be talking about what is PrimeReact, Why to choose PrimeReact,how PrimeReact makes React applications development rapid and easier with rich set of UI widgets, and ready made stunning themes to customize look and feel of websites.

Presenter:
Sudheer Jonna
https://github.com/sudheerj
https://twitter.com/

[2017-03-26 17:35] jsstrn commented on #44
Hi @soelynn, does 20 April (Thu) work for you guys?

[2017-03-27 04:39] realsoelynn commented on #44
@jsstrn yes. it works :)

[2017-03-28 14:42] sudheerj commented on #44
@jsstrn It works for me too.

[2017-03-29 12:00] jsstrn commented on #40
Next talk.js will be held on 20 April. Add your talks here https://github.com/SingaporeJS/organizers/issues/44 if you want to speak in April. @abser @ais-one

[2017-03-30 03:22] jsstrn opened #45 "This issue was created with ghi"
Using ghi to create and comment on issues so I don't have to do it via a web browser.

[2017-03-30 03:26] jsstrn commented on #45
Leaving a comment on ghi

[2017-04-10 12:55] Gpotet opened #46 "VoxxedDays Singapore - Free ticket for one of the members"
Hi SingaporeJS,

You might have heard that there will be a VoxxedDays happening this year in Singapore, we were wondering if you'd be okay to relay the information to the users of the meetup group. We would like to offer a 10% discount to the SingaporeJS users with the code "SINGAPOREJS-WITH-VOXXED-DAYS"

Also, if you were keen to do some kind of lucky draw amongst the persons present in the next

[2017-04-11 15:39] #45 closed

[2017-04-11 16:02] jsstrn commented on #46
Hi @Gpotet, there's open announcements after the scheduled talks where you can make this announcement to the audience. The next meet up is on 20 April #44

You could ask a question to the audience and the give a free ticket to the one who answers it first.

You're welcome to do the announcement before the scheduled talks, too, if you prefer.

[2017-04-11 23:05] sebdeckers commented on #45
Ghi?

[2017-04-12 00:04] notthetup commented on #45
https://github.com/stephencelis/ghi

[2017-04-12 00:46] sebdeckers commented on #45
![](https://media.giphy.com/media/huh7lUqEG4irK/giphy.gif)

[2017-04-12 01:21] cliener commented on #44
Title of your talk: How to Choose the Right Front-End Framework for Your Company

Talk description: During an evaluation of our core web platform at CXA Group, we decided to shift direction away from the aging existing architecture and rebuild the front-end from scratch. I'll talk about the evaluation process we used to choose a new framework.

Presenter: Chris Lienert
https://github.com/cliener
h

[2017-04-12 11:05] zellwk commented on #40
Title of your talk: Using Fetch.
Talk description: success and error handling with Fetch + intro my small little Lib :)
Presenter: @zellwk.
Presenter's bio: You know me. Write anything you want 😉.
Duration requested: 10min
Preferred month: May
Deck URL (if any): none yet.

[2017-04-12 12:45] jsstrn commented on #44
@sudheerj @cliener see you guys next week for talk.js

[2017-04-12 12:47] jsstrn commented on #40
Next talk.js is on 20 April, there's still one more slot anyone wants to give a talk. Add your talk to #44

[2017-04-20 16:13] GIANTCRAB commented on #44
How to Choose the Right Front-End Framework for Your Company - https://youtu.be/Iw8dDe6x_LI (@cliener)

PrimeReact: UI Component Library for React - https://youtu.be/gxjS39OHpco (@sudheerj)

[2017-04-20 16:21] jsstrn commented on #44
Thanks @GIANTCRAB

[2017-04-20 16:41] jsstrn opened #47 "talk.js - May 2017"
### Details
- [x] Event: [talk.js](https://www.meetup.com/Singapore-JS/events/239896507/)
- [x] Date: 18 May 2017
- [x] Hosts: @jsstrn
- [x] Venue: PayPal Singapore, Suntec Tower 5

### Talks
- [ ] _You?_
- [x] From Instances to Functions: Going Serverless with Node.js by @yosriady
- [x] Angular and ngrx by @Stwissel

### Propose a talk this month
Want to speak at this month's talk? Leave a commen

[2017-04-20 16:42] jsstrn commented on #46
@Gpotet thanks for coming and making your announcement. All the best for the conference!

[2017-04-20 16:42] #46 closed

[2017-05-03 06:42] yosriady commented on #47
**Title of your talk:** From Instances to Functions: Going Serverless with Node.js
**Talk description:** Run your Node.js applications without servers! A serverless architecture approach replaces long-running virtual machines with ephemeral compute power that comes into existence on request and disappears immediately after use. Pay for the hamburger, not the cow!
**Presenter:** http://yos.io https

[2017-05-05 04:49] Stwissel commented on #47
**Title**: Angular and ngrx
**Description**: Introduction into ngrx, Angular's implementation of a Redux architecture. Comes with lots of Observables and debugging in the browser.
**Presenter**: https://www.wissel.net/
**Presenter's bio**: Stephan likes to talk about stuff he didn't understand before, ex IBM Program Architect at Salesforce
**Duration requested**: 15 min (can make it longer if appr

[2017-05-09 04:27] laktek commented on #47
**Title of your talk:** Introducing Pragma
**Talk description:** Pragma is a new kind of a Content Management Framework I've been working on for the past couple of months ([intro blog post](www.laktek.com/2016/11/29/introducing-pragma/)). If this talk happens this would be the first time I'm demoing Pragma in public. #historyinmaking
**Presenter:** https://twitter.com/laktek @laktek
**Presenter's

[2017-05-09 15:37] jsstrn commented on #47
@yosriady @Stwissel @laktek hello there! Sorry for the late reply, I'm currently on holiday in Japan.

Thanks for your talk proposals! Our current meet up is scheduled for 18 May. Does that work for everyone?

@laktek I'll have to check with @soelynn if we can move to that date, but it's unlikely.

[2017-05-10 08:23] yosriady commented on #47
@jsstrn 18th May works for me.

[2017-05-11 03:17] #44 closed

[2017-05-11 03:23] jsstrn commented on #47
@yosriady @Stwissel @engineersftw the next talk.js meet up is on 18 May. Here's the [link to the event on Meetup.com](https://www.meetup.com/Singapore-JS/events/239896507/)

[2017-05-11 15:24] Stwissel commented on #47
works for me too

[2017-05-12 02:37] sudheerj commented on #47
@jsstrn Is it all the speakers slots booked for this meetup?

[2017-05-12 02:40] jsstrn commented on #47
Hi @sudheerj! Yup, we'll keep it to two speakers per meet up. You're welcome to submit your talk for next month.

[2017-05-12 02:41] jsstrn opened #48 "talk.js - June 2017"
### :calendar: Details
- [x] Event: [talk.js](https://www.meetup.com/Singapore-JS/events/240521034/)
- [x] Date: 20 June 2017 (Tuesday)
- [x] Hosts: @jsstrn
- [x] Venue: PayPal Singapore, Suntec Tower 5

### :speech_balloon: Talks
- [x] Data visualizations on Singapore by **Chi-Loong**
- [x] Using Apollo with ReactJS and GraphQL by **Martin Brochhaus**
- [ ] _You?_

### :seedling: Propose a talk t

[2017-05-12 02:47] sudheerj commented on #47
Sure, I will submit for next month. Do we have link for that. In my humble opinion it is worth to continue 3 speakers so that attendees get the max in 2 hrs time :)

[2017-05-18 18:05] Chi-Loong commented on #48
**Title of your talk:** Data visualizations on Singapore
**Talk description:** Have you created data visualizations on Singapore (especially if using open data)? Then I would love to talk to you! Meanwhile, let me take you through a quick walkthrough on why data visualizations make such a difference in storytelling.
**Presenter:** Chi-Loong. I run and curate Visualizing Singapore (http://www.viz.s

[2017-05-20 02:37] jsstrn commented on #48
Hi @Chi-Loong :wave: looking forward to having you join us at next month's talk.js and presenting your talk on data visualizations on Singapore.

[2017-05-20 07:36] Chi-Loong commented on #48
Hi Jesstern, noted and thanks! 😄

[2017-06-04 05:49] #47 closed

[2017-06-04 05:51] jsstrn commented on #48
@soelynn is 20 June 2017 (Tuesday) available?

[2017-06-04 06:26] realsoelynn commented on #48
@jsstrn yes. It's available and I have booked it for talkJS :)

[2017-06-04 06:57] jsstrn commented on #48
@soelynn thank you!

[2017-06-04 07:21] jsstrn commented on #48
@engineersftw @soelynn @Chi-Loong talk.js will be held on 20 June 2017 (Tuesday) at PayPal Singapore. Please RSVP on [Meetup.com](https://www.meetup.com/Singapore-JS/events/240521034/) and share the link on social media.

[2017-06-04 08:30] Chi-Loong commented on #48
Hi, Jesstern! Ok! Noted. :D Have a great weekend folks!

[2017-06-06 10:08] mbrochh commented on #48
**Title of your talk:** Using Apollo with ReactJS and GraphQL
**Talk description:** GraphQL has been released in 2015 and now it has reached a point where there are very good and stable GraphQL-server implementation for pretty much any language and many database backends. Now would be a great time to upgrade four ReactJS frontend and make use of your new GraphQL API. React-Apollo is a fantastic li

[2017-06-08 07:49] jsstrn commented on #48
Hi @mbrochh 👋, thanks for submitting your talk.. I've added it to the talk list.

[2017-06-21 01:55] mbrochh commented on #48
@jsstrn here are my slides: https://speakerdeck.com/mbrochh/using-apollo-with-reactjs-and-graphql

[2017-06-21 10:30] jsstrn commented on #48
Thanks @mbrochh for the talk and like slide deck.
@Chi-Loong would you like to share your slide deck as well?

[2017-06-21 10:33] jsstrn commented on #48
@Chi-Loong just saw that you posted on Meetup.com - http://decks.vslashr.com/journey3D/#/start

[2017-06-21 10:34] Chi-Loong commented on #48
Hi Jesstern,

  I posted a link up on the SingaporeJs meetup!

  But it' here as well:
http://decks.vslashr.com/journey3D/

Cheers,
CL

On 21 Jun 2017 6:30 pm, "Jesstern Rays" <notifications@github.com> wrote:

[2017-06-21 12:08] sebdeckers commented on #40
Title of your talk: Http2live, a CDN for the HTTP/2 era
Talk description: This talk will focus on a brand new web hosting service that I purpose-built for new features in HTTP/2. Server push with Cache Manifests. Connection coalescing with Alternative Services. Cache control with the immutable extension. Everything is JavaScript/Node.js.
Presenter: Sebastiaan Deckers TW/GH/GL: @sebdeckers
Presente

[2017-06-23 11:00] jsstrn opened #49 "talk.js - July 2017"
### :calendar: Details
- [ ] Event: [talk.js]()
- [x] Date: Tuesday, 18 July 2017
- [x] Hosts: @jsstrn
- [x] Venue: PayPal Singapore, Suntec Tower 5

### :speech_balloon: Talks
- [x] **Http2live - a CDN for the HTTP/2 Era** by Sebastiaan Deckers @sebdeckers
- [x] **Tiny JS Games on Microcontrollers** by István Szmozsánszky @flaki
- [ ] _You?_

### :seedling: Propose a talk this month
Want to speak

[2017-07-02 02:26] sebdeckers commented on #48
Closing as the event is over. Thanks for the interesting evening, everyone!

[2017-07-02 02:26] #48 closed

[2017-07-04 15:07] jsstrn commented on #49
@sebdeckers talk.js July has been confirmed for Tuesday, 18 July 2017. Does this date work for you?

[2017-07-13 06:36] flaki commented on #49
Hi! [Chinmay](@notthetup) pinged this event over to me, since I'm currently in Singapore. I'm definitely joining and also if you are still on the lookout for talks, I'm happy to present one on creating HTML5 (js+canvas 8-bit retro) games and running them on microcontrollers. :)

See talk details below, this is an updated/extended version of the [talk I gave at Hackware last week](https://twitter.c

[2017-07-13 06:41] realsoelynn commented on #49
@jsstrn btw i changed my github handle to @realsoelynn :)

[2017-07-13 09:11] jsstrn commented on #49
Hi @flaki, welcome to Singapore and SingaporeJS. Looking forward to your talk next week. Thanks @notthetup!

[2017-07-22 17:15] tester-me commented on #40
Title of your talk: Build a bot on NodeJS
Talk description: The tools to build a bot quickly, the platforms to build a bot on, what are the possibilities with a bot, testing of the bot, and where to deploy it on etc, the future of bots and how do bots succeed
Presenter: Stacy Goh, github.com/stacygohyunsi
Presenter's bio: Maker/A self taught developer, currently working for an SME to build mobile

[2017-07-22 17:16] stacygohyunsi commented on #40
Title of your talk: Build a bot on NodeJS
Talk description: The tools to build a bot quickly, the platforms to build a bot on, what are the possibilities with a bot, testing of the bot, and where to deploy it on etc, the future of bots and how do bots succeed
Presenter: Stacy Goh, github.com/stacygohyunsi
Presenter's bio: Maker/A self taught developer, currently working for an SME to build mobile

[2017-07-23 06:55] #49 closed

[2017-07-23 07:04] jsstrn commented on #40
## 🚛 talk.js has moved to its own repo

Hi speakers, we'll be moving to a different [repo](https://github.com/SingaporeJS/talk.js) to manage the talk.js metup. All future talk proposals should go to the [issues page](https://github.com/SingaporeJS/talk.js/issues).

@stacygohyunsi I've moved your talk to talk.js August. Looking forward to seeing you then.

Will be closing this issue to avoid confus

[2017-07-23 07:18] jsstrn opened #50 "talk.js has moved"
## 🚛 talk.js has moved

We're moving to our own repo to make it easier to manage talk.js related matters. Go here to view the [repo](https://github.com/SingaporeJS/talk.js)

If you'd like to propose a talk at the next talk.js meet up, please look at our [issues page](https://github.com/SingaporeJS/talk.js/issues)

[2017-08-05 18:57] #40 closed

[2019-12-03 02:59] smcenlly opened #51 "Sponsorship opportunities?"
We (Wallaby Pty Ltd) create developer productivity tools for JavaScript/TypeScript developers (https://wallabyjs.com https://quokkajs.com) and would like to provide some free licenses to your monthly user group as a form of sponsorship.

Please email us at hello@wallabyjs.com to discuss.